@font-face {
  font-family: 'myMainFont';
  font-display: swap;
  src: url('./fonts/NotoSansJP-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'mySubFont';
  font-display: swap;
  src: url('./fonts/ZenKakuGothicNew-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'myCodeFont';
  font-display: swap;
  src: url('./fonts/MoralerspaceNeonHW-Regular.woff2') format('woff2');
}

body {
  font-family: 'myMainFont', sans-serif;
}

h2 {
  font-family: 'mySubFont', serif;
}

code {
  font-family: 'myCodeFont', monospace;
}
